body {
    text-align: center;
}

.container {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0
}

.paper,
.scissor,
.rock,
.star{
    font-size: 48px;
    font-variation-settings: 'WGHT' 100, 'OPSZ' 48;
}