body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0;
}

h1{
    margin: 0;
    padding-bottom: 25px;
    padding-top: 75px;
    background-color: violet;
    color:aliceblue;
}

.container{
    background-color: #fcf5c7;
    padding-top: 2%;
    padding-bottom: 100%;
}

.points,.result,.choice {
    display: flex;
    justify-content:space-evenly;
    margin-inline: 20%;    
}

.result {
    box-sizing: border-box;
    margin-inline: 30%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 200px;
    border: solid;
    border-radius: 20px;
}

.paper,
.scissor,
.rock,
.star{
    font-size: 48px;
    font-variation-settings: 'WGHT' 100, 'OPSZ' 48;
}

.star{
    color: #ffc300;
    padding-top: 10px;
    font-variation-settings:
    'FILL' 1;
}


.paper{
    color: green;
}
.rock{
    color: blue;
}
.scissor{
    color: red;
}

